{% extends 'base.html' %}
 
{% block content %}

    <h1 class="text-center">在Web上的OpenCV程式</h1>
    <!-- 如果有上傳圖片就開啟 -->
    {% if image_path %}
        <img src="{{ image_path }}" class="img-thumbnail" height="200">
    {% endif %}
    <!-- 選擇圖片上傳 -->
    <form class="p-3" action="/", method="POST" enctype="multipart/form-data">
        <label class="form-label">上傳圖片：</label>
        <input type="file" class="form-control" name="imagefile">
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>

    <!-- 02-1 人臉辨識 -->
    <h1 style="text-align: center;">即時人臉辨識</h1>
    <div style="justify-content: center; display: flex; margin-top: 30px;"><img src="{{ url_for('video') }}"></div>

{% endblock %}